<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forgot-password-content">
    <h2>Réinitialiser votre mot de passe</h2>
    <p>Entrez votre adresse e-mail pour recevoir un lien de réinitialisation du mot de passe.</p>

    <ion-item>
      <ion-label position="floating">Adresse e-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="sendResetLink()">Envoyer le lien</ion-button>
  </div>
</ion-content>
