<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        [defaultHref]="isUserAdmin() ? 'home' : 'user'">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="orders.length">
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h2>Order ID: {{ order._id }}</h2>
        <p>Status: {{ order.status }}</p>
        <p>Service ID: {{ order.service }}</p>

      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="confirmOrder(order._id)">Confirm</ion-button>
        <ion-button (click)="cancelOrder(order._id)">Cancel</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <p *ngIf="!orders.length">No orders found.</p>
</ion-content>

