<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/confirm-code"></ion-back-button>
    </ion-buttons>
    <ion-title>Réinitialiser le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="reset-password-content">
    <h2>Nouveau mot de passe</h2>
    <p>Veuillez entrer un nouveau mot de passe.</p>

    <ion-item>
      <ion-label position="floating">Nouveau mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmer le mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="resetPassword()">Réinitialiser</ion-button>
  </div>
</ion-content>
